<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <nav class="bg-neutral-950 h-20 w-full fixed shadow-md shadow-rose-800">
    <label class="text-white leading-[80px] md:leading-[80px] pl-12 md:pl-24 md:text-4xl text-3xl">
      <a routerLink="">Home</a>
    </label>
    <ul class="float-right mr-10 flex leading-[80px] space-x-4 text-white uppercase rounded">
      <li class="px-4"><a routerLink="/register">Register</a></li>
      <li class="px-4"><a routerLink="/login">Login</a></li>

    </ul>
  </nav>
  <div class="text-5xl h-screen w-screen flex justify-center items-center text-white text-center">
  <h1 class="font-mono font-bold drop-shadow-md ">Welcome to CRUD Project Angular</h1>
</div>
<footer></footer>
</body>
</html>

